.ct-black-square
{
    background-color: #88a0a9;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.ct-white-square
{
    background-color: #fdfdfd;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.ct-board {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

}
.ct-board-border
{
    border:10px solid darkslategray;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.cont-float-left {
    display: block;
    float: left;
    padding-right: 30px;
}
.cont-float-right {
    display: block;
    float: right;
    padding-left: 30px;
}
.cont-float-clear {
    clear:both;
}
