.ct-black-square
{
    background-color: #88a0a9;
}

.ct-white-square
{
    background-color: #fdfdfd;
}
.ct-board-border
{
    border:10px solid darkslategray;
}

.cont-float-left {
    display: block;
    float: left;
    padding-right: 30px;
}
.cont-float-right {
    display: block;
    float: right;
    padding-left: 30px;
}
.cont-float-clear {
    clear:both;
}
